header{
    text-align: center;
}
body{
    background-color: rgb(241, 233, 223)
   
}
h1{
    text-transform: uppercase;
}
h2{
    background-color:;
}
p{
    text-align: justify;
}
.fotos{
    text-align: center;
}
h3{
    text-align: center;
}