header{
    text-align: center;
}

section.banner{
    background-image: url(../img/lemon-pie\ 1.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 343px;
}

section.banner ~ section{
    max-width: 80%;
    margin: 0 auto;
}